.Link {
  font-weight: bold;
  color: gray;
}

.Header {
  padding: 7px 10px;
  background-color: #282c34;
  min-height: 7.5vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 10px;
  font-size: 1.5rem;
}