.Image {
  flex: 35%;
  width: 300px;
  border-radius: 50%;
}

@media (max-width: 720px) {
  .Image {
    flex: 100%;
  }

  .Text {
    flex: 100%;
  }

  .Hero {
    flex-direction: column;
  }
}

.Text {
  flex: 65%;
  font-size: 1.32em;
}

.Hero {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.Hero p:first-of-type {
  font-size: 1.4rem;
}
