.Layout {
  /* this is the background color of my image */
  /* using the same color makes things blend in */
  background-color: #f8f8f8;
}

.Container {
  max-width: 1280px;
  margin: auto;
  padding: 30px;
}
