// General
.markdown {
  font-family: "Avenir", Arial, Helvetica, sans-serif;
}

// Links
.markdown a {
  text-decoration: none;
  color: "inherit";
  text-decoration: underline;
}

// Code
.markdown code {
  font-size: 0.8em;
}
