.markdown {
  font-family: "Avenir", Arial, Helvetica, sans-serif;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  font-weight: inherit;
}

.markdown a {
  text-decoration: none;
  color: inherit;
  text-decoration: underline;
}
